

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(200px, auto);
}


.wrapper > div {
    cursor: pointer;
    background: #ccc;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 50%;

}

.wrapper > div:hover {
    opacity: 0.7;

}
.wrapper > div:nth-child(even) {
    background: #eee;
}

h1 {
    text-align: center;
    color: brown;
    
}

.pick {
    border: 2px solid coral;
    
}