

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(200px, auto);
}

.container > div {
    cursor: pointer;
    background: #ccc;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;

}

.container > div:hover {
    opacity: 0.7;

}
.container > div:nth-child(even) {
    background: #eee;
}

h1 {
    text-align: center;
    color: brown;
    
}